* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #0095dd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 4.5rem;
  color: #fff;
}

canvas {
  background-color: #f0f0f0;
  display: block;
  border-radius: 0.5rem;
}

.btn {
  cursor: pointer;
  border: 0;
  padding: 1rem 2rem;
  background: #000;
  color: #fff;
  border-radius: 0.5rem;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background: #222;
}

.btn:active {
  transform: scale(0.98);
}

.rules-btn {
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
  color: #fff;
  min-height: 100vh;
  width: 40rem;
  padding: 2rem;
  line-height: 1.5;
}
