@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

h1 {
  letter-spacing: 0.1rem;
}

h3 {
  text-transform: uppercase;
}

h4 {
  border-bottom: 0.1rem solid #bbb;
  padding-bottom: 1rem;
  margin: 4rem 0 1rem;
}

.container {
  margin: 3rem auto;
  width: 35rem;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin: 0.5rem 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 1rem 0;
}

input:focus,
.btn:focus,
.delete-btn:focus {
  outline: none;
}

input[type='text'],
input[type='number'] {
  border: 0.1rem solid #dedede;
  border-radius: 0.2rem;
  display: block;
  font-size: 1.6rem;
  padding: 1rem;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
  padding: 1rem;
  width: 100%;
}

.list {
  list-style-type: none;
  margin-bottom: 4rem;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 1rem;
  margin: 1rem 0;
}

.list li.plus {
  border-right: 0.5rem solid #2ecc71;
}

.list li.minus {
  border-right: 0.5rem solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 2rem;
  line-height: 2rem;
  padding: 0.2rem 0.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}
