@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

h1,
h2 {
  position: relative;
}

h1 button,
h2 button {
  position: absolute;
  right: 0;
  transform: translate(120%, -50%);
  z-index: 2;
}

.btn {
  background-color: #fff;
  cursor: pointer;
  border: 0.1rem solid #aaa;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  margin-top: 2rem;
  padding: 1rem 1.5rem;
}

.btn-small {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

.btn-ghost {
  border: 0;
  background-color: transparent;
}

span i {
  margin-right: 0.5rem;
}

.clear {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}

.cards {
  perspective: 100rem;
  position: relative;
  height: 30rem;
  width: 50rem;
  max-width: 100%;
}

.card {
  position: absolute;
  opacity: 0;
  font-size: 1.5em;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(50%) rotateY(-10deg);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.card.active {
  cursor: pointer;
  opacity: 1;
  z-index: 10;
  transform: translateX(0) rotateY(0deg);
}

.card.left {
  transform: translateX(-50%) rotateY(10deg);
}

.inner-card {
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 0.4rem;
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.4s ease;
}

.card.show-answer .inner-card {
  transform: rotateX(180deg);
}

.inner-card-front,
.inner-card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #fff;
}

.inner-card-front {
  transform: rotateX(0deg);
  z-index: 2;
}

.inner-card-back {
  transform: rotateX(180deg);
}

.inner-card-front::after,
.inner-card-back::after {
  content: '\f021  Flip';
  font-family: 'Font Awesome 5 Free', Lato, sans-serif;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-weight: bold;
  font-size: 1.6rem;
  color: #ddd;
}

.navigation {
  display: flex;
  margin: 2rem 0;
}

.navigation .nav-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.6rem;
}

.navigation p {
  margin: 0 2.5rem;
}

.add-container {
  opacity: 0;
  z-index: -1;
  background-color: #f0f0f0;
  border-top: 0.2rem solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.add-container.show {
  opacity: 1;
  z-index: 2;
}

.add-container h2 {
  margin: 1rem 0;
}

.form-group label {
  display: block;
  margin: 2rem 0 1rem;
}

.form-group textarea {
  border: 0.1rem solid #aaa;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  padding: 1.2rem;
  min-width: 50rem;
  max-width: 100%;
  resize: none;
}

.form-group textarea:focus {
  outline: 0;
}
