@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

h1,
h2 {
  position: relative;
}

h1 button,
h2 button {
  position: absolute;
  right: 0;
  transform: translate(120%, -50%);
  z-index: 2;
}

.btn {
  background-color: #fff;
  cursor: pointer;
  border: 0.1rem solid #aaa;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  margin-top: 2rem;
  padding: 1rem 1.5rem;
}

.btn-small {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

.btn-ghost {
  border: 0;
  background-color: transparent;
}

span i {
  margin-right: 0.5rem;
}
