@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  background-image: url('./img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}

body:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

body * {
  z-index: 1;
}

h1 {
  font-size: 6rem;
  margin: -8rem 0 4rem;
}

.year {
  font-size: 20rem;
  z-index: -1;
  opacity: 0.2;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.countdown {
  /* display: flex;*/
  display: none;
  transform: scale(2);
  gap: 1.5rem;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time h2 {
  margin: 0 0 0.5rem;
}

.spinner {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 4.5rem;
  }

  .countdown {
    gap: 1rem;
  }

  .time h2 {
    font-size: 1.4rem;
    margin: 0;
  }

  .time small {
    font-size: 1rem;
  }
}
