* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #2d2013;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  margin: 2.4rem;
}

.container {
  margin: auto;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex {
  display: flex;
}

input,
button {
  border: 1px solid #dedede;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  font-size: 1.6rem;
  padding: 0.8rem 1rem;
  background-color: #fff;
}

input:focus,
button:focus {
  outline: 0;
}

input[type='text'] {
  width: 30rem;
}

.search-btn {
  cursor: pointer;
  border-left: 0;
  border-radius: 0;

  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.random-btn {
  cursor: pointer;
  margin-left: 1rem;

  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.result-heading {
  margin-top: 1rem;
  text-align: left;
  padding: 0.2rem;
  text-align: center;
}

.meals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
}

.meal {
  cursor: pointer;
  position: relative;
  height: 18rem;
  width: 18rem;
  text-align: center;
  margin-top: 4rem;
}

.meal img {
  width: 100%;
  height: 100%;
  border: 0.4rem solid #fff;
  border-radius: 0.2rem;
}

.meal-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}

.meal:hover .meal-info {
  opacity: 1;
}

.single-meal {
  margin: 6rem auto;
  width: 70%;
  line-height: 1.5;
}

.single-meal img {
  width: 30rem;
  margin: 2.4rem;
  border: 0.4rem #fff solid;
  border-radius: 0.2rem;
}

.single-meal-info {
  margin: 2rem;
  padding: 1rem;
  border: 0.2rem #e09850 dashed;
  border-radius: 0.5rem;
}

.single-meal h2 {
  margin-bottom: 1.5rem;
}

.single-meal p {
  letter-spacing: 0.5px;
}

.single-meal ul {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}

.ingredients li {
  border: 0.1rem solid #ededed;
  border-radius: 0.5rem;
  background-color: #fff;
  display: inline-block;
  color: #2d2013;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  margin: 0 0.5rem 0.5rem 0;
}

.instructions li {
  margin-bottom: 1.5rem;
}

@media (max-width: 800px) {
  .meals {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .meals {
    grid-template-columns: repeat(2, 1fr);
  }

  .meal {
    height: 20rem;
    width: 20rem;
  }
}
@media (max-width: 500px) {
  input[type='text'] {
    width: 100%;
  }

  .meals {
    grid-template-columns: 1fr;
  }

  .meal {
    height: 30rem;
    width: 30rem;
  }
}
